.header{
    border: 1px rosybrown solid;
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}
.name{
    display: inline;
    position: absolute;
    margin-left: 300px;
}
.total{
    display:inline;
    position: relative;
    margin-left: 300px;
    margin-bottom: 10px;
}