<div class="card-group">
    <div class="card">
      <img src="https://tse3.mm.bing.net/th?id=OIP.1cCtIc5iaTMncPcmAEOI6gHaFn&pid=Api&P=0&h=180" class="card-img-top" alt="no image found" height="200px" width="100%">
      <div class="card-body">
        <h5 class="card-title">Spicy</h5>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.LkHsfq01vt3hzdR1183-4AHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.uxFsOz9vFs0gVVXkovEWewHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.5xqdNW1mlB-fQNWt7grd1AHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
               </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse2.mm.bing.net/th?id=OIP.h0KW69CdatMgtuHq5yf9nAHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">treats</h5>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.LkHsfq01vt3hzdR1183-4AHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.uxFsOz9vFs0gVVXkovEWewHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.5xqdNW1mlB-fQNWt7grd1AHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
               </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse2.mm.bing.net/th?id=OIP.h0KW69CdatMgtuHq5yf9nAHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.LkHsfq01vt3hzdR1183-4AHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.uxFsOz9vFs0gVVXkovEWewHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIP.5xqdNW1mlB-fQNWt7grd1AHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
               </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://tse2.mm.bing.net/th?id=OIP.h0KW69CdatMgtuHq5yf9nAHaHa&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
